@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Bom Brownie!</h1>
    <p>Sistema de Gerenciamento de vendas da marca Bom Brownie Atêlie.</p>
</div>
